name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 25
      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm run test
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Upload test results
        uses: actions/upload-artifact@v6
        with:
          name: jest-junit-report
          path: reports/jest-junit

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: reports
